<html>
<head>
    <title>Add Health Policy</title>
</head>
<body bgcolor="#deb887">
{% include 'home/title.html' %}
<br><br>
{% include 'official/official_menu.html' %}
<br><br><br><br>
<form action="{% url 'add_health_policy' %}" method="post">
    {% csrf_token %}
<table align="center" border="0">
        <tr><th colspan="2" height="50"><font size="5" face="Algerian" color="#dc143c">Add Health Policy</font></th></tr>
    <tr><th>Policy Type : </th><th><input type="text" value="Health" name="policy_type" required></th></tr>
{#    <tr><th>Policy Id : </th><th><input type="number"  name="policy_id" required></th></tr>#}
    <tr><th>Policy Name : </th><th><input type="text"  name="policy_name" required></th></tr>
    <tr><th>Description : </th><th><textarea name="description" required></textarea> </th></tr>
    <tr><th>Time Duration : </th><th><input type="number"  name="time_duration" required></th></tr>
    <tr><th>Amount : </th><th><input type="number"  name="amount" required></th></tr>
    <tr><th>Premium Amount : </th><th><input type="number"  name="premium_amount" required></th></tr>
    <tr><th>Premium Number : </th><th><input type="number"  name="premium_number" required></th></tr>
    <tr><th>Coverage Amount : </th><th><input type="number"  name="coverage_amount" required></th></tr>
    <tr><th>Marital Status : </th><th><input type="text"  name="marital_status" required></th></tr>
    <tr><th>Number Of Family : </th><th><input type="number"  name="number_of_family" required></th></tr>
    <tr><th height="80" colspan="2"><button type="submit">Add </button> </th> </tr>
    <tr><th colspan="2">
        {% for message in messages %}
               <center><span style="font-size: large; color: green; font-family:'Lucida Calligraphy' ; ">
                        {{ message }}
                </span></center>
        {% endfor %}
    </th></tr>

    </table>
</form>
</body>
</html>