<html>
<head>
    <title>Admin Car</title>
</head>
<body bgcolor="#deb887">
{% include 'home/title.html' %}
<br><br>
{% include 'admin/admin_menu.html' %}
<br><br><br><br>

<table align="center" border="2"  >
        <tr bgcolor="orange">
{#            <th width="100">Id</th>#}
            <th width="100">Name</th>
            <th width="100">Description</th>
            <th width="200">Time duration</th>
            <th width="100">Amount</th>
            <th width="100">Premium_amount</th>
            <th width="100">Premium_number</th>
            <th width="250">Rate of Interest</th>
            <th width="100">Rules</th>
            <th width="250">Benificial Amount</th>
            <th width="150">type</th>
            <th width="150">Vehicle No.</th>
            <th width="150">Company</th>
            <th width="150">Model</th>
            <th width="100">Update</th>
            <th width="100">Delete</th>
        </tr>
    {% for x in object_list %}
        <tr>
{#            <th width="100">{{ x.policy_id }}</th>#}
            <th width="100">{{ x.policy_name }}</th>
            <th width="200">{{ x.description }}</th>
            <th width="100">{{ x.time_duration }}</th>
            <th width="100">{{ x.amount }}</th>
            <th width="100">{{ x.premium_amount }}</th>
            <th width="250">{{ x.premium_number }}</th>
            <th width="100">{{ x.rate_of_interest }}</th>
            <th width="250">{{ x.rules }}</th>
            <th width="250">{{ x.benificial_amount }}</th>
            <th width="200">{{ x.type }}</th>
            <th width="200">{{ x.vehicle_no }}</th>
            <th width="200">{{ x.company }}</th>
            <th width="200">{{ x.model }}</th>
            <th width="100">
                    <a href="{% url 'update_car_policy' %}?policy_name={{ x.policy_name }}">Yes</a>
            </th>
                <th width="100">
                    <a href="{% url 'delete_car_policy' %}?policy_name={{ x.policy_name }}">Yes</a>
                </th>
        </tr>
    {% endfor %}
    </table>
</body>
</html>