<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <tr>
        <th width="150" bgcolor="#6b8e23" height="40"><a href="{% url 'admin_home' %}">Admin Home</a> </th>
        <th width="150" bgcolor="#7fffd4" height="40"><a href="{% url 'admin_home_policy' %}">Home</a> </th>
        <th width="150" height="40" bgcolor="#ff69b4"><a href="{% url 'admin_life_policy' %}">Life</a> </th>
        <th width="150" height="40" bgcolor="#9acd32"><a href="{% url 'admin_health_policy' %}">Health</a> </th>
        <th width="150" height="40" bgcolor="orange"><a href="{% url 'admin_car_policy' %}">Car</a> </th>
        <th width="150" height="40" bgcolor="#6495ed"><a href="{% url 'index' %}">LogOut</a> </th>
    </tr>
</table>
</body>
</html>