<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="left" border="0">
    <tr><th width="250" height="50" bgcolor="orange"><a href="{% url 'take_insurance_home' %}">Take Insurance</a></th></tr>
    <tr><th width="200" height="50" bgcolor="#6495ed"><a href="{% url 'policy_details' %}">Policy Details</a></th></tr>
    <tr><th width="200" height="50" bgcolor="#deb887"><a href="{% url 'view_premium_amount' %}">View Premium Amount</a></th></tr>
    <tr><th width="200" height="50" bgcolor="#f08080"><a href="{% url 'pay_premium' %}">Pay Premium</a></th></tr>
</table>
</body>
</html>